@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}
html,
body,
#root {
  height: 100%;
}
@import "tailwindcss";
.fire-frame {
  background: #222;
  padding: 12px;
  border: 8px solid #000;
  box-shadow: inset 0 0 0 4px #444;
  display: inline-block;
  image-rendering: pixelated;
}

.fire-canvas {
  display: block;
  image-rendering: pixelated;
  border: 2px solid #555;
}

.controls {
  margin-top: 8px;
  text-align: center;
}

.btn {
  font-family: monospace;
  padding: 6px 12px;
  margin: 0 6px;
  border: 2px solid #333;
  background: #666;
  color: #fff;
  cursor: pointer;
}

.btn.back {
  background: #555;
}

.btn.reset {
  background: #c33;
}
